<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="overview" fileName="Reqtificator.log" append="False">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %equals{%X{context}}{}{%logger{36}}%equals{ -> %X{record}}{ -> }{} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="overview"/>
        </Root>
    </Loggers>
</Configuration>