distribution
**/build/**
meta.ini
.gradle
.idea
*iml
*ipr
*iws
PapyrusLogs
userSetup.gradle
Scripts/*.pex
documentation/**.aux
documentation/**.log
documentation/*/*.pdf
documentation/*/*.png
Interface/Translations/Requiem_CZECH.txt
Interface/Translations/Requiem_ENGLISH.txt
Interface/Translations/Requiem_FRENCH.txt
Interface/Translations/Requiem_GERMAN.txt
Interface/Translations/Requiem_ITALIAN.txt
Interface/Translations/Requiem_JAPANESE.txt
Interface/Translations/Requiem_POLISH.txt
Interface/Translations/Requiem_RUSSIAN.txt
Interface/Translations/Requiem_SPANISH.txt
.kotlintest
fomod/info.xml
SkyProc Patchers/**