distribution
**/build/**
meta.ini
.gradle
.idea
*iml
*ipr
*iws
userSetup.gradle
.kotlintest
Reqtificator/**
Scripts/**
SkyProc Patchers/**
Interface/**
components/**/bin
components/**/obj
*.sln.DotSettings.user
