distribution
**/build/**
meta.ini
.gradle
.idea
*iml
*ipr
*iws
PapyrusLogs
userSetup.gradle
Scripts/*.pex
documentation/**.aux
documentation/**.log
documentation/*/*.pdf
documentation/*/*.png
.kotlintest
fomod/info.xml
SkyProc Patchers/**
Interface/**