[*.cs]
dotnet_diagnostic.CA1707.severity = none # allow _ in function names to improve test case readability
dotnet_diagnostic.CA1034.severity = none # allow nested public types to have grouped tests inside a single test suite