root = true

[*.cs]
indent_size = 4
indent_style = space
tab_width = 4
dotnet_sort_system_directives_first = true

dotnet_analyzer_diagnostic.severity = warning

# global suppression rules
dotnet_diagnostic.CA1303.severity = none # we're not supporting any localization in the initial release
dotnet_diagnostic.IDE0008.severity = none # I don't see a point in not using type-inference :)
dotnet_diagnostic.CA1003.severity = none # seems to trigger false positives when I try to use relaxed non-"EventArgs" extending types for events
dotnet_diagnostic.CA1826.severity = none # our collections shouldn't be large enough to suffer any noteworthy performance impacts 
dotnet_diagnostic.CA1032.severity = none # our exceptions aren't used externally, so we don't need to add constructors we don't use
dotnet_diagnostic.CA1305.severity = none # no idea how to fix this

[UserSettings.cs]
# only used to write booleans to json
dotnet_diagnostic.CA1308.severity = none
